header {
<<<<<<< HEAD
    background-color: #FF0000; height: 70px; width:100%;
}
=======
    background-color: #ff0000;
    height: 70px;
    width: 100;
}
>>>>>>> 3d76b011fc0392a79751aa191bf236dad38dbc28
